{% extends "inventory/base.html" %}

{%block title%}
    {% if is_edit %}
        Edit Product | StockFlow
    {% else %}
        Add Product | StockFlow
    {% endif %}
{%endblock%}

{% block content %}
    {% if is_edit %}
        <h2>Edit Product</h2>
    {% else %}
        <h2>Add Product</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>

        <a href="{% url 'inventory:product_list' %}">Cancel</a>
    </form>
{% endblock %}