{% extends "inventory/base.html" %}

{% block title %}Products | StockFlow{% endblock %}

{% block content %}
    <h2>Product List</h2>

    <a href="{% url 'inventory:product_create' %}">Add Product</a>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>SKU</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{% url 'inventory:product_edit' pk=product.pk %}">Edit</a>
                </td>

                <td>
                    <a href="{% url 'inventory:product_delete' pk=product.pk %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No products available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}