{% extends "inventory/base.html" %} 

{% block title %}
    Manage Stock | StockFlow
{% endblock %}

{% block app_content %}

<section class="product-form-page">

    <div class="product-form-heading">
        <h1 class="product-form-title">Manage Stock</h1>

        <p class="product-form-introduction">
            Update the stock quantity for {{ product.name }}.
        </p>
    </div>

    <div class="product-form-card">

        <form method="post" class="product-form">

            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="product-form-errors">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="product-form-field">
                <label class="form-label">
                    Product
                </label>

                <p>
                    {{ product.name }}
                </p>
            </div>

            <div class="product-form-field">
                <label class="form-label">
                    Created
                </label>

                <p>
                    {{ product.created_at }}
                </p>
            </div>

            <div class="product-form-field">
                <label class="form-label">
                    Current Stock
                </label>

                <p>
                    {{ product.quantity }}
                </p>
            </div>

            {% for field in form %}
                <div class="product-form-field">

                    <label
                        for="{{ field.id_for_label }}"
                        class="form-label"
                    >
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.errors %}
                            <div
                                class="product-form-field-errors"
                                id="{{ field.auto_id }}_error"
                            >
                                {% for error in field.errors %}
                                    <div>{{ error }}</div>
                                {% endfor %}
                            </div>
                    {% endif %}

                </div>
            {% endfor %}
            <div class="product-form-actions">
                <button type="submit" class="btn btn-stockflow">
                    Update Stock   
                </button>

                <a href="{% url 'inventory:product_list' %}" class="btn btn-stockflow-outline">Cancel</a>
            </div>

        </form>

    </div>

</section>

{% endblock %}